<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>有闲棋牌</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AppIcon57x57.png</string>
		<string>AppIcon57x57@2x.png</string>
		<string>AppIcon60x60@2x.png</string>
		<string>AppIcon72x72@2x~ipad.png</string>
		<string>AppIcon72x72~ipad.png</string>
		<string>AppIcon76x76@2x~ipad.png</string>
		<string>AppIcon76x76~ipad.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxe898b9d2ec9db657</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mj0718</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1106457563</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.4.0</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
		<string>wxe898b9d2ec9db657</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqconnect</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqzoneopensdk</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzonewx</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>NSExceptionAllowsInsecureHTTPLoads</key>
			<true/>
			<key>NSIncludesSubdomains</key>
			<true/>
			<key>jpush.cn</key>
			<dict/>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>使用相机</string>
	<key>NSMainNibFile</key>
	<string>LaunchScreen-iPhone</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>使用麦克风</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>使用相册</string>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen-iPhone</string>
	<key>UILaunchStoryboardName~ipad</key>
	<string>LaunchScreen-iPad</string>
	<key>UILaunchStoryboardName~iphone</key>
	<string>LaunchScreen-iPhone</string>
	<key>UILaunchStoryboardName~ipod</key>
	<string>LaunchScreen-iPhone</string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>Unity_LoadingActivityIndicatorStyle</key>
	<integer>-1</integer>
	<key>com.yxhy.qq.appid</key>
	<string>1106457563</string>
	<key>com.yxhy.wechat.appid</key>
	<string>wxe898b9d2ec9db657</string>
	<key>com.yxhy.jpush.appkey</key>
	<string>455ff09856d61656c4602853</string>
	<key>com.yxhy.jpush.channel</key>
	<string>YouxianC01</string>
	<key>com.yxhy.mw.appkey</key>
	<string>FOG8OIGXJB541UMJ8HR8OYWC0UV9S0OU</string>
</dict>
</plist>
