<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dstars.fuzhou.mahjong"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />

    <uses-feature android:glEsVersion="0x00020000" />

    <application
		android:name="com.douyou.sdk.dy.DouyouApplication"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/UnityThemeSelector" >
      
        <meta-data
            android:name="MW_APPID"
            android:value="RQ7M2VKIXUY4BWKKO5BF0YIBQHEL5QH6" />
        <meta-data
            android:name="MW_CHANNEL"
            android:value="test" />
        
        <!-- Douyou begin1273 -->
        <meta-data
            android:name="DY_APPID"
            android:value="1274" />
        <meta-data
            android:name="DY_GAMEID"
            android:value="1274" />
        <meta-data
            android:name="DY_AGENT"
            android:value="default" />
        <meta-data
            android:name="DY_LOGOUT_VISIBLE"
            android:value="false" />
        <!-- Douyou end -->

        
        <activity         
            android:name="com.dstars.fuzhou.mahjong.wxapi.QQEntryActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|uiMode"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <meta-data android:name="android.app.lib_name" android:value="unity" />
                <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />                           
            </intent-filter>
          
            <!-- 供外部应用打开App的入口 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="mj0718" />               
            </intent-filter>
  
            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
        </activity>

        <!-- QQ SDK start -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106457563" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- QQ SDK end -->


        <!-- WeChat SDK start -->
        <activity
            android:name="com.dstars.fuzhou.mahjong.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="com.dstars.fuzhou.mahjong.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <!-- WeChat SDK end -->
     
        <!-- 微支付SDK界面 -->
        <!-- 显示网页界面 -->
        <activity
            android:name="com.iapppay.sdk.main.WebActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.PersonCenterActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 收银台-普通 -->
        <activity
            android:name="com.iapppay.ui.activity.PayHubActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 选择充值金额界面 -->
        <activity
            android:name="com.iapppay.ui.activity.SelectAmountActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.ChargeActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 游戏卡和话费卡界面 -->
        <activity
            android:name="com.iapppay.ui.card.GamepayActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- alipay sdk begin (新的支付宝) -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <!-- alipay sdk end -->
      
      <!-- 总的 activity，必须注册！！！ -->
        <activity
            android:name="com.zxinsight.common.base.MWActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:exported="true" >
        </activity>
        
        <!-- Douyou pay begin -->
        <activity
            android:name="com.dygame.sdk.ui.ChargeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.dygame.sdk.ui.OnkeypayChargeNextActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name="com.dygame.sdk.ui.MoblieCardNextDealActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name="com.dygame.sdk.ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!-- 微信支付 -->
        <activity
            android:name="com.switfpass.pay.activity.QQWapPayWebView"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" 
            android:screenOrientation="portrait"/>
		<!-- 支付宝支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.dygame.sdk.ui.AlipayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <!-- 浮点 -->
        <activity
            android:name="com.dygame.sdk.floatwindow.FloatWebActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.dygame.sdk.ui.PtbActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <service android:name="com.dygame.sdk.YTAppService" >
            <intent-filter android:priority="1000" >
                <action android:name="com.dygame.action.YTAppService"/>
            </intent-filter>
        </service>
        <!-- Douyou end -->
		
		<!-- jpush begin -->
		
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.dstars.fuzhou.mahjong" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="com.dstars.fuzhou.mahjong.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:exported="false"
        />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.dstars.fuzhou.mahjong" />
            </intent-filter>

        </service>
        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="com.dstars.fuzhou.mahjong.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"
        />
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.dstars.fuzhou.mahjong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.dstars.jpush.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.dstars.fuzhou.mahjong" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <receiver android:name="com.dstars.jpush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.dstars.fuzhou.mahjong"></category>
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="YouxianC02"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="455ff09856d61656c4602853" /> <!--  </>值来自开发者平台取得的AppKey-->
      <!-- AK鉴权 -->
      <!-- meta-data需要写在application中 -->
      <meta-data
          android:name="com.baidu.lbsapi.API_KEY"
          android:value="fb8MxKtKS900aA81oRaBYD8E2Ct0uEPk" />
      <!-- http://lbsyun.baidu.com/apiconsole/key -->
      <!-- 声明service组件 -->
      <service
          android:name="com.baidu.location.f"
          android:enabled="true"
          android:process=":remote" >
      </service>
		<!-- jpush end -->
        
	</application>

    <!-- PERMISSIONS -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	
    <!-- Douyou pay begin -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="xvtian.gai.receiver" />
    <!--屏幕方向改变权限-->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <!-- Douyou end -->
    
    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- GCloudVoice权限配置 START-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />  
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<!-- GCloudVoice权限配置 END -->
	
	
    <!-- jpush begin Required -->
    <permission
        android:name="com.dstars.fuzhou.mahjong.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
  
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.dstars.fuzhou.mahjong.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	
    <!-- jpush end -->
  
 
	
</manifest>